<nav class="navbar navbar-expand-md navbar-light py-4 px-5">
  <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png"
      width="30" alt="" class="d-inline-block align-middle mr-2"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-lg fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link active" href="#">Our Team &nbsp;<i class="fa fa-chevron-down"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Event Details &nbsp;<i class="fa fa-chevron-down"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registration Forms &nbsp;<i class="fa fa-chevron-down"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
  </div>
</nav>





<div id="carousel" class="carousel slide" data-ride="carouse" data-interval="6000">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active">
      <div class="progress-number">
        01
        <div class="bar">
          <div class="in"></div>
        </div>
        </div>
    </li>
    <li data-target="#carousel" data-slide-to="1">
      <div class="progress-number">
        02
        <div class="bar">
          <div class="in"></div>
        </div>
        </div>
    </li>
    <li data-target="#carousel" data-slide-to="2">
      <div class="progress-number">
        03
        <div class="bar">
          <div class="in"></div>
        </div>
        </div>
    </li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <div class="slide-1-border">          
            <h1>Celebration of Events</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at error, facilis nesciunt officiis
              perspiciatis
              repudiandae voluptates voluptatibus? Aperiam atque consectetur esse excepturi explicabo facilis labore
              magnam
              provident unde vitae.</p>
            <span class="btn btn-sm btn-outline-secondary">Download the base event overview</span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption justify-content-center align-items-center">
        <div class="slide-2-border">
            <h1>Globe</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at error, facilis nesciunt officiis
              perspiciatis
              repudiandae voluptates voluptatibus? Aperiam atque consectetur esse excepturi explicabo facilis labore
              magnam
              provident unde vitae.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <picture>
      </picture>
      <div class="carousel-caption justify-content-center align-items-center">
        <div class="slide-3-border">
            <h1>Why</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at error, facilis nesciunt officiis
              perspiciatis
              repudiandae voluptates voluptatibus? Aperiam atque consectetur esse excepturi explicabo facilis labore
              magnam
              provident unde vitae.</p>
              <span class="btn btn-sm btn-outline-secondary">Learn More</span>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container custom-padding">
  <div class="row d-flex justify-content-between pb-4">
    <div class="col-md-4 col-sm-6 d-flex justify-content-between align-items-center">
      <a class="footer-link" href="#">Join Us</a>
      <a class="footer-link" href="#">Contact Us</a>
      <a class="footer-link" href="#">About Us</a>
    </div>
    <div class="col-md-4 col-sm-6 d-flex justify-content-between">
      <a class="footer-link" href="#"><i class="fa fa-2x fa-envelope footer-link-icon"></i></a>
      <a class="footer-link" href="#"><i class="fa fa-2x fa-facebook-square footer-link-icon"></i></a>
      <a class="footer-link" href="#"><i class="fa fa-2x fa-linkedin-square footer-link-icon"></i></a>
      <a class="footer-link" href="#"><i class="fa fa-2x fa-twitter-square footer-link-icon"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 footer-text">
      &copy; 2020 Public Speaking Summit. All Rights Reserved.
    </div>
  </div>
</div>