<div class="container custom-padding">
    <div class="row justify-content-between pb-4">
      <div class="col-md-5 col-sm-6 col-xs-12 d-flex justify-content-between responsive">
        <a class="footer-link" href="#">Join Us &nbsp;<i class="fa fa-chevron-right" style="color: rgb(61, 64, 66);"></i></a>
        <a class="footer-link" href="#">Contact Us &nbsp;<i class="fa fa-chevron-right" style="color: rgb(61, 64, 66);"></i></a>
        <a class="footer-link" href="#">About Us &nbsp;<i class="fa fa-chevron-right" style="color: rgb(61, 64, 66);"></i></a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 d-flex justify-content-around">
        <a class="footer-link" href="#"><i class="fa fa-2x fa-envelope footer-link-icon"></i></a>
        <a class="footer-link" href="#"><i class="fa fa-2x fa-facebook-square footer-link-icon"></i></a>
        <a class="footer-link" href="#"><i class="fa fa-2x fa-linkedin-square footer-link-icon"></i></a>
        <a class="footer-link" href="#"><i class="fa fa-2x fa-twitter-square footer-link-icon"></i></a>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 footer-text">
        &copy; 2020 Public Speaking Summit. All Rights Reserved.
      </div>
    </div>
  </div>