<app-breadcrumbs></app-breadcrumbs>




<div>

  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 heading">
          About Us
        </div>
        <div class="col-12 sub-header">
          <div class="sub-heading">
            Our team of experts spans the globe. We are proactive analyzers and interpreters, dedicated to providing
            insightful guidance backed by deep experience.
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="outer-section">
    <div class="container">

      <div class="row inner-section p-5">
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">01</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">About the Organisation</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">The Federation is a one-of-a-kind organization based in India, founded in June 2016 by Mr. Varun Jain.
                Our
                organisational setup comprises of young visionaries who see potential in the future of public speaking
                and
                seek to revolutionize the way they are organized within the nation. Through our collaborations with
                various
                premier institutions, we ensure that these institutions which conduct various public speaking events at
                their
                level meet the standards of the ones conducted at the global level. Our team equips the institution, the
                participating students, and other staff members with the latest criteria, structures and other essential
                requisites needed for a successful public speaking summit. The knowledge acquired consequently is spread
                to other
                organisations such that Indian public speaking competitions become a worthy medium of learning.</div>
              <div class="topic-content">We work to promote international connectivity by entering into collaborations with institutions
                organizing Model United Nations (MUNs) at a global level. Since our inception, we have established
                operations in several Indian states as well as other countries and expanded to accommodate a variety
                of departments such as MUN Conferences, Youth Parliament, International Press and Conventional debating.</div>
              <div class="topic-content">Our vision is to innovate in terms of various styles of public speaking and to create knowledge.</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">02</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Latest work by the Organisation</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">We are presently in the process of investing new forms of debating. We are will be setting up our 
                own debating house where we innovate a new public speaking styles and reinvent the existing public 
                speaking styles. We also will be organising various workshops and training sessions for the same.</div>
              <div class="topic-content">We recently expanded into the realms of global climate change, social work, creative writing and art work.</div> 
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-12 col-xs-12 numbering">03</div>
            <div class="col-md-10 col-sm-12 col-xs-12 topic-heading">Partner Countries</div>
          </div>
          <div class="row">
            <div class="col-2 col-sm-0 col-xs-0"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="topic-content">We provide global exposure with rich network extending to various countries in Asia, Africa and 
                Europe. We have successfully set up teams at an international level, which include countries such 
                as Singapore, Indonesia, Afghanistan, Georgia and expanding. We also have catered to a diverse group 
                of people from different parts of India.</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>