<app-breadcrumbs></app-breadcrumbs>




<div>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 heading">
                    Our Team
                </div>
                <div class="col-12 sub-header">
                    <div class="sub-heading">
                        Our team of experts spans the globe. We are proactive analyzers and interpreters, dedicated to providing insightful guidance backed by deep experience.
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="outer-section">
        <div class="container">


            <div class="row inner-section p-5">
                <div class="col-md-4 col-sm-6 col-xs-12 card-space">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../assets/team-1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Natalie Portman</h5>
                          <h6 class="card-subtitle text-muted">Head of Asia Pacific</h6>
                          <p class="card-text">Natalie Portman is Head of the Asia Pacific Region for Northern Trust. In this role, he is responsible for the growth and development of the asset servicing and asset management businesses that serve institutional clients.</p>
                          <a href="#" class="card-link">READ BIO</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 card-space">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../assets/team-2.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">READ BIO</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 card-space">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../assets/team-3.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">READ BIO</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 card-space">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../assets/team-1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">READ BIO</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 card-space">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../assets/team-4.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">READ BIO</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 card-space">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../assets/back_4.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle text-muted">Card subtitle</h6>
                          <p class="card-text">Natalie Portman is Head of the Asia Pacific Region for Northern Trust. In this role, he is responsible for the growth and development of the asset servicing and asset management businesses that serve institutional clients.</p>
                          <a href="#" class="card-link">READ BIO</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 card-space">
                    <div class="card h-100">
                        <img class="card-img-top" src="../../assets/back_2.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">READ BIO</a>
                        </div>
                      </div>
                </div>
            </div>


        </div>
    </section>

</div>